.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}

.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}
.icon-home{
	background:url('icons/home.gif') no-repeat center center;
}
.icon-first{
	background:url('icons/icon_001.gif') no-repeat center center;
}
.icon-users{
	background:url('icons/users.png') no-repeat center center;
}
.icon-user{
	background:url('icons/user.gif') no-repeat center center;
}
.icon-user2{
	background:url('icons/user2.gif') no-repeat center center;
}
.icon-mini-cancel{
	background:url('icons/icon_085.gif') no-repeat center center;
}
.icon-001{
	background:url('icons/icon_001.gif') no-repeat center center;
}
.icon-edit-no{
	background:url('icons/icon_128.gif') no-repeat center center;
}
.icon-edit-yes{
	background:url('icons/icon_129.gif') no-repeat center center;
}
.icon-edit-td{
	background:url('icons/icon_093.gif') no-repeat center center;
}
.icon-edit-ban{
	background:url('icons/icon_092.gif') no-repeat center center;
}
.icon-del{
	background:url('icons/del.png') no-repeat center center;
}
.icon-reminder {
	background:url('icons/icon_121.gif') no-repeat center center;
}
.icon-down {
	background:url('icons/icon_086.gif') no-repeat center center;
}
.icon-preview {
	background:url('icons/zoom.png') no-repeat center center;
}