//主色
$maincolor = #1c8bee
//文字颜色
$color = #333
//投影颜色
$shadowcolor = rgba(238, 238, 238, .75)

$solidcolor = #eee

// 全局标题
.title-catalog-00
  text-align center
  font-size 30px
  font-weight bold
  line-height 30px
  padding 60px 0 35px
  h2
    font-size 36px
    font-weight normal
    color $color
    line-height 36px
  p
    font-size 14px
    color #999
    line-height 50px
.title-catalog-01
  text-align center
  font-size 36px
  font-weight normal
  line-height 36px
  