<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dgg.zqq.dao.order.TrademarkClassDao">
    <insert id="save" parameterType="net.dgg.zqq.entity.order.TrademarkClass">
     INSERT INTO zqq_trademark_class
        (`id`,`order_id`,`trademark_id`,`class_level1_id`,`class_level1_code`,`class_level1_name`,`class_level2_code`,`class_level2_name`,`class_level3_id`,`class_level3_code`,`class_level3_name`,`create_time`,`creater_id`,`creater_org_id`,`creater_name`,`update_time`,`updater_id`,`updater_name`,`updater_org_id`)
     VALUES
        (#{id},#{orderId},#{trademarkId},#{classLevel1Id},#{classLevel1Code},#{classLevel1Name},#{classLevel2Code},#{classLevel2Name},#{classLevel3Id},#{classLevel3Code},#{classLevel3Name},#{createTime},#{createrId},#{createrOrgId},#{createrName},#{updateTime},#{updaterId},#{updaterName},#{updaterOrgId})
</insert>

    <update id="update" parameterType="net.dgg.zqq.entity.order.TrademarkClass">
     UPDATE zqq_trademark_class SET 
    `order_id` = #{orderId},
    `trademark_id` = #{trademarkId},
        `class_level1_id` = #{classLevel1Id},
    `class_level1_code` = #{classLevel1Code},
    `class_level1_name` = #{classLevel1Name},
    `class_level2_code` = #{classLevel2Code},
    `class_level2_name` = #{classLevel2Name},
        `class_level3_id` = #{classLevel3Id},
    `class_level3_code` = #{classLevel3Code},
    `class_level3_name` = #{classLevel3Name},
    `create_time` = #{createTime},
    `creater_id` = #{createrId},
    `creater_org_id` = #{createrOrgId},
    `creater_name` = #{createrName},
    `update_time` = #{updateTime},
    `updater_id` = #{updaterId},
    `updater_name` = #{updaterName},
    `updater_org_id` = #{updaterOrgId}
     WHERE id = #{id}
</update>

    <select id="findById" parameterType="Long" resultType="net.dgg.zqq.entity.order.TrademarkClass">
     SELECT 
    t.`id` as `id`,
    t.`order_id` as `orderId`,
    t.`trademark_id` as `trademarkId`,
        t.`class_level1_id` as `classLevel1Id`,
    t.`class_level1_code` as `classLevel1Code`,
    t.`class_level1_name` as `classLevel1Name`,
    t.`class_level2_code` as `classLevel2Code`,
    t.`class_level2_name` as `classLevel2Name`,
        t.`class_level3_id` as `classLevel3Id`,
    t.`class_level3_code` as `classLevel3Code`,
    t.`class_level3_name` as `classLevel3Name`,
    t.`create_time` as `createTime`,
    t.`creater_id` as `createrId`,
    t.`creater_org_id` as `createrOrgId`,
    t.`creater_name` as `createrName`,
    t.`update_time` as `updateTime`,
    t.`updater_id` as `updaterId`,
    t.`updater_name` as `updaterName`,
    t.`updater_org_id` as `updaterOrgId`

    FROM zqq_trademark_class t

    WHERE t.`id`=#{id}
</select>

    <select id="query" resultType="net.dgg.zqq.entity.order.TrademarkClass">
        SELECT
        t.`id` as `id`,
        t.`order_id` as `orderId`,
        t.`trademark_id` as `trademarkId`,
        t.`class_level1_id` as `classLevel1Id`,
        t.`class_level1_code` as `classLevel1Code`,
        t.`class_level1_name` as `classLevel1Name`,
        t.`class_level2_code` as `classLevel2Code`,
        t.`class_level2_name` as `classLevel2Name`,
        t.`class_level3_id` as `classLevel3Id`,
        t.`class_level3_code` as `classLevel3Code`,
        t.`class_level3_name` as `classLevel3Name`,
        t.`create_time` as `createTime`,
        t.`creater_id` as `createrId`,
        t.`creater_org_id` as `createrOrgId`,
        t.`creater_name` as `createrName`,
        t.`update_time` as `updateTime`,
        t.`updater_id` as `updaterId`,
        t.`updater_name` as `updaterName`,
        t.`updater_org_id` as `updaterOrgId`

        FROM zqq_trademark_class t

        <where>
            <include refid="where"></include>
        </where>

        <if test="null!=start and ''!=start and null!=limit and ''!=limit">
            limit #{start},#{limit}
        </if>
        <if test="(null==start or ''==start) and null!=limit and ''!=limit">
            limit #{limit}
        </if>


    </select>

    <select id="queryMap" resultType="java.util.Map">
        SELECT
        t.`id` as `id`,
        t.`order_id` as `orderId`,
        t.`trademark_id` as `trademarkId`,
        t.`class_level1_id` as `classLevel1Id`,
        t.`class_level1_code` as `classLevel1Code`,
        t.`class_level1_name` as `classLevel1Name`,
        t.`class_level2_code` as `classLevel2Code`,
        t.`class_level2_name` as `classLevel2Name`,
        t.`class_level3_id` as `classLevel3Id`,
        t.`class_level3_code` as `classLevel3Code`,
        t.`class_level3_name` as `classLevel3Name`,
        t.`create_time` as `createTime`,
        t.`creater_id` as `createrId`,
        t.`creater_org_id` as `createrOrgId`,
        t.`creater_name` as `createrName`,
        t.`update_time` as `updateTime`,
        t.`updater_id` as `updaterId`,
        t.`updater_name` as `updaterName`,
        t.`updater_org_id` as `updaterOrgId`

        FROM zqq_trademark_class t

        <where>
            <include refid="where"></include>
        </where>

        <if test="null!=start and ''!=start and null!=limit and ''!=limit">
            limit #{start},#{limit}
        </if>
        <if test="(null==start or ''==start) and null!=limit and ''!=limit">
            limit #{limit}
        </if>


    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)

        FROM zqq_trademark_class t

        <where>
            <include refid="where"></include>
        </where>

    </select>

    <delete id="deleteById" parameterType="Long">
    DELETE FROM zqq_trademark_class  WHERE  `id`=#{id}
</delete>

    <sql id="where">
        <if test="null!=id and ''!=id">
            AND t.`id` = #{id}
        </if>
        <if test="null!=orderId and ''!=orderId">
            AND t.`order_id` = #{orderId}
        </if>
        <if test="null!=trademarkId and ''!=trademarkId">
            AND t.`trademark_id` = #{trademarkId}
        </if>
        <if test="null!=classLevel1Id and ''!=classLevel1Id">
            AND t.`class_level1_id` = #{classLevel1Id}
        </if>
        <if test="null!=classLevel1Code and ''!=classLevel1Code">
            AND t.`class_level1_code` = #{classLevel1Code}
        </if>
        <if test="null!=classLevel1Name and ''!=classLevel1Name">
            AND t.`class_level1_name` = #{classLevel1Name}
        </if>
        <if test="null!=classLevel2Code and ''!=classLevel2Code">
            AND t.`class_level2_code` = #{classLevel2Code}
        </if>
        <if test="null!=classLevel2Name and ''!=classLevel2Name">
            AND t.`class_level2_name` = #{classLevel2Name}
        </if>
        <if test="null!=classLevel3Id and ''!=classLevel3Id">
            AND t.`class_level3_id` = #{classLevel3Id}
        </if>
        <if test="null!=classLevel3Code and ''!=classLevel3Code">
            AND t.`class_level3_code` = #{classLevel3Code}
        </if>
        <if test="null!=classLevel3Name and ''!=classLevel3Name">
            AND t.`class_level3_name` = #{classLevel3Name}
        </if>
        <if test="null!=createTimeStart and ''!=createTimeStart">
            AND t.`create_time` &gt;= CONCAT(#{createTimeStart},' 00:00:00')
        </if>
        <if test="null!=createTimeEnd and ''!=createTimeEnd">
            AND t.`create_time` &lt;= CONCAT(#{createTimeEnd},' 23:59:59')
        </if>
        <if test="null!=createrId and ''!=createrId">
            AND t.`creater_id` = #{createrId}
        </if>
        <if test="null!=createrOrgId and ''!=createrOrgId">
            AND t.`creater_org_id` = #{createrOrgId}
        </if>
        <if test="null!=createrName and ''!=createrName">
            AND t.`creater_name` = #{createrName}
        </if>
        <if test="null!=updateTimeStart and ''!=updateTimeStart">
            AND t.`update_time` &gt;= CONCAT(#{updateTimeStart},' 00:00:00')
        </if>
        <if test="null!=updateTimeEnd and ''!=updateTimeEnd">
            AND t.`update_time` &lt;= CONCAT(#{updateTimeEnd},' 23:59:59')
        </if>
        <if test="null!=updaterId and ''!=updaterId">
            AND t.`updater_id` = #{updaterId}
        </if>
        <if test="null!=updaterName and ''!=updaterName">
            AND t.`updater_name` = #{updaterName}
        </if>
        <if test="null!=updaterOrgId and ''!=updaterOrgId">
            AND t.`updater_org_id` = #{updaterOrgId}
        </if>
    </sql>

</mapper>