<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    <bean id="fastDfsService" class="net.dgg.zqq.services.fast_dfs.FastDfsService" init-method="init">
        <property name="connect_timeout" value="${fastdfs.connect_timeout}"/>
        <property name="network_timeout" value="${fastdfs.network_timeout}"/>
        <property name="charset" value="${fastdfs.charset}"/>
        <property name="tracker_server" value="${fastdfs.tracker_server}"/>
        <property name="tracker_http_port" value="${fastdfs.tracker_http_port}"/>
        <property name="group" value="${fastdfs.group}"/>
    </bean>


</beans>
