<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dgg.gspt.dqc.dao.operationRecord.OperationRecordDao">
    <insert id="save" parameterType="net.dgg.gspt.dqc.entity.operationRecord.OperationRecord">
        INSERT INTO gspt_dqc_operation_record
        (`id`, `user_id`, `operation_code`, `content`, `flag`, `create_time`, `creater_id`, `creater_org_id`,
         `creater_name`, `update_time`, `updater_id`, `updater_name`, `updater_org_id`)
        VALUES
        (#{id}, #{userId}, #{operationCode}, #{content}, #{flag}, #{createTime}, #{createrId}, #{createrOrgId},
         #{createrName}, #{updateTime}, #{updaterId}, #{updaterName}, #{updaterOrgId})
    </insert>

    <update id="update" parameterType="net.dgg.gspt.dqc.entity.operationRecord.OperationRecord">
        UPDATE gspt_dqc_operation_record
        SET
            `user_id`        = #{userId},
            `operation_code` = #{operationCode},
            `content`        = #{content},
            `flag`           = #{flag},
            `create_time`    = #{createTime},
            `creater_id`     = #{createrId},
            `creater_org_id` = #{createrOrgId},
            `creater_name`   = #{createrName},
            `update_time`    = #{updateTime},
            `updater_id`     = #{updaterId},
            `updater_name`   = #{updaterName},
            `updater_org_id` = #{updaterOrgId}
        WHERE id = #{id}
    </update>

    <select id="findById" parameterType="Long" resultType="net.dgg.gspt.dqc.entity.operationRecord.OperationRecord">
        SELECT
            t.`id`             as `id`,
            t.`user_id`        as `userId`,
            t.`operation_code` as `operationCode`,
            t.`content`        as `content`,
            t.`flag`           as `flag`,
            t.`create_time`    as `createTime`,
            t.`creater_id`     as `createrId`,
            t.`creater_org_id` as `createrOrgId`,
            t.`creater_name`   as `createrName`,
            t.`update_time`    as `updateTime`,
            t.`updater_id`     as `updaterId`,
            t.`updater_name`   as `updaterName`,
            t.`updater_org_id` as `updaterOrgId`

        FROM gspt_dqc_operation_record t

        WHERE t.`id` = #{id}
    </select>

    <select id="query" resultType="net.dgg.gspt.dqc.entity.operationRecord.OperationRecord">
        SELECT
        t.`id` as `id`,
        t.`user_id` as `userId`,
        t.`operation_code` as `operationCode`,
        t.`content` as `content`,
        t.`flag` as `flag`,
        t.`create_time` as `createTime`,
        t.`creater_id` as `createrId`,
        t.`creater_org_id` as `createrOrgId`,
        t.`creater_name` as `createrName`,
        t.`update_time` as `updateTime`,
        t.`updater_id` as `updaterId`,
        t.`updater_name` as `updaterName`,
        t.`updater_org_id` as `updaterOrgId`

        FROM gspt_dqc_operation_record t

        <where>
            <include refid="where"></include>
        </where>

        <if test="null!=start and ''!=start and null!=limit and ''!=limit">
            limit #{start},#{limit}
        </if>
        <if test="(null==start or ''==start) and null!=limit and ''!=limit">
            limit #{limit}
        </if>


    </select>

    <select id="queryMap" resultType="java.util.Map">
        SELECT
        t.`id` as `id`,
        t.`user_id` as `userId`,
        t.`operation_code` as `operationCode`,
        t.`content` as `content`,
        t.`flag` as `flag`,
        t.`create_time` as `createTime`,
        t.`creater_id` as `createrId`,
        t.`creater_org_id` as `createrOrgId`,
        t.`creater_name` as `createrName`,
        t.`update_time` as `updateTime`,
        t.`updater_id` as `updaterId`,
        t.`updater_name` as `updaterName`,
        t.`updater_org_id` as `updaterOrgId`,
        s.`username` as `username`

        FROM gspt_dqc_operation_record t
        left JOIN sys_user_info s on t.user_id = s.userId
        <where>
            <include refid="where"></include>
        </where>
        ORDER BY t.create_time DESC

        <if test="null!=start and ''!=start and null!=limit and ''!=limit">
            limit #{start},#{limit}
        </if>
        <if test="(null==start or ''==start) and null!=limit and ''!=limit">
            limit #{limit}
        </if>


    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)

        FROM gspt_dqc_operation_record t

        left JOIN sys_user_info s on t.user_id = s.userId

        <where>
            <include refid="where"></include>
        </where>

    </select>

    <delete id="deleteById" parameterType="Long">
        DELETE
        FROM gspt_dqc_operation_record
        WHERE `id` = #{id}
    </delete>

    <sql id="where">
        <if test="null!=id and ''!=id">
            AND t.`id` = #{id}
        </if>
        <if test="null!=userId and ''!=userId">
            AND t.`user_id` = #{userId}
        </if>
        <if test="null!=operationCode and ''!=operationCode">
            AND t.`operation_code` = #{operationCode}
        </if>
        <if test="null!=content and ''!=content">
            AND t.`content` = #{content}
        </if>
        <if test="null!=flag and ''!=flag">
            AND t.`flag` = #{flag}
        </if>
        <if test="null!=createTimeStart and ''!=createTimeStart">
            AND t.`create_time` &gt;= CONCAT(#{createTimeStart},' 00:00:00')
        </if>
        <if test="null!=createTimeEnd and ''!=createTimeEnd">
            AND t.`create_time` &lt;= CONCAT(#{createTimeEnd},' 23:59:59')
        </if>
        <if test="null!=createrId and ''!=createrId">
            AND t.`creater_id` = #{createrId}
        </if>
        <if test="null!=createrOrgId and ''!=createrOrgId">
            AND t.`creater_org_id` = #{createrOrgId}
        </if>
        <if test="null!=createrName and ''!=createrName">
            AND t.`creater_name` = #{createrName}
        </if>
        <if test="null!=updateTimeStart and ''!=updateTimeStart">
            AND t.`update_time` &gt;= CONCAT(#{updateTimeStart},' 00:00:00')
        </if>
        <if test="null!=updateTimeEnd and ''!=updateTimeEnd">
            AND t.`update_time` &lt;= CONCAT(#{updateTimeEnd},' 23:59:59')
        </if>
        <if test="null!=updaterId and ''!=updaterId">
            AND t.`updater_id` = #{updaterId}
        </if>
        <if test="null!=updaterName and ''!=updaterName">
            AND t.`updater_name` = #{updaterName}
        </if>
        <if test="null!=updaterOrgId and ''!=updaterOrgId">
            AND t.`updater_org_id` = #{updaterOrgId}
        </if>
    </sql>

</mapper>