<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dgg.gspt.dqc.dao.template.TemplateDao">
    <insert id="save" parameterType="net.dgg.gspt.dqc.entity.template.Template">
     INSERT INTO gspt_dqc_template
        (`id`,`template_type`,`template_type_name`,`template_name`,`file_name`,`file_url`,`status`,`flag`,`download`,`create_time`,`creater_id`,`creater_org_id`,`creater_name`,`update_time`,`updater_id`,`updater_name`,`updater_org_id`)
     VALUES
        (#{id},#{templateType},#{templateTypeName},#{templateName},#{fileName},#{fileUrl},#{status},#{flag},#{download},#{createTime},#{createrId},#{createrOrgId},#{createrName},#{updateTime},#{updaterId},#{updaterName},#{updaterOrgId})
</insert>

    <update id="update" parameterType="net.dgg.gspt.dqc.entity.template.Template">
     UPDATE gspt_dqc_template SET 
    `template_type` = #{templateType},
    `template_type_name` = #{templateTypeName},
    `template_name` = #{templateName},
    `file_name` = #{fileName},
    `file_url` = #{fileUrl},
    `status` = #{status},
    `flag` = #{flag},
        `download` = #{download},
    `create_time` = #{createTime},
    `creater_id` = #{createrId},
    `creater_org_id` = #{createrOrgId},
    `creater_name` = #{createrName},
    `update_time` = #{updateTime},
    `updater_id` = #{updaterId},
    `updater_name` = #{updaterName},
    `updater_org_id` = #{updaterOrgId}
     WHERE id = #{id}
</update>

    <select id="findById" parameterType="Long" resultType="net.dgg.gspt.dqc.entity.template.Template">
     SELECT 
    t.`id` as `id`,
    t.`template_type` as `templateType`,
    t.`template_type_name` as `templateTypeName`,
    t.`template_name` as `templateName`,
    t.`file_name` as `fileName`,
    t.`file_url` as `fileUrl`,
    t.`status` as `status`,
    t.`flag` as `flag`,
        t.`download` as `download`,
    t.`create_time` as `createTime`,
    t.`creater_id` as `createrId`,
    t.`creater_org_id` as `createrOrgId`,
    t.`creater_name` as `createrName`,
    t.`update_time` as `updateTime`,
    t.`updater_id` as `updaterId`,
    t.`updater_name` as `updaterName`,
    t.`updater_org_id` as `updaterOrgId`

    FROM gspt_dqc_template t

    WHERE t.`id`=#{id}
</select>

    <select id="query" resultType="net.dgg.gspt.dqc.entity.template.Template">
        SELECT
        t.`id` as `id`,
        t.`template_type` as `templateType`,
        t.`template_type_name` as `templateTypeName`,
        t.`template_name` as `templateName`,
        t.`file_name` as `fileName`,
        t.`file_url` as `fileUrl`,
        t.`status` as `status`,
        t.`flag` as `flag`,
        t.`download` as `download`,
        t.`create_time` as `createTime`,
        t.`creater_id` as `createrId`,
        t.`creater_org_id` as `createrOrgId`,
        t.`creater_name` as `createrName`,
        t.`update_time` as `updateTime`,
        t.`updater_id` as `updaterId`,
        t.`updater_name` as `updaterName`,
        t.`updater_org_id` as `updaterOrgId`

        FROM gspt_dqc_template t

        <where>
            <include refid="where"></include>
        </where>
        ORDER BY createTime DESC

        <if test="null!=start and ''!=start and null!=limit and ''!=limit">
            limit #{start},#{limit}
        </if>
        <if test="(null==start or ''==start) and null!=limit and ''!=limit">
            limit #{limit}
        </if>


    </select>

    <select id="queryMap" resultType="java.util.Map">
        SELECT
        t.`id` as `id`,
        t.`template_type` as `templateType`,
        t.`template_type_name` as `templateTypeName`,
        t.`template_name` as `templateName`,
        t.`file_name` as `fileName`,
        t.`file_url` as `fileUrl`,
        t.`status` as `status`,
        t.`flag` as `flag`,
        t.`download` as `download`,
        t.`create_time` as `createTime`,
        t.`creater_id` as `createrId`,
        t.`creater_org_id` as `createrOrgId`,
        t.`creater_name` as `createrName`,
        t.`update_time` as `updateTime`,
        t.`updater_id` as `updaterId`,
        t.`updater_name` as `updaterName`,
        t.`updater_org_id` as `updaterOrgId`

        FROM gspt_dqc_template t

        <where>
            <include refid="where"></include>
        </where>
        ORDER BY createTime DESC

        <if test="null!=start and ''!=start and null!=limit and ''!=limit">
            limit #{start},#{limit}
        </if>
        <if test="(null==start or ''==start) and null!=limit and ''!=limit">
            limit #{limit}
        </if>


    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)

        FROM gspt_dqc_template t

        <where>
            <include refid="where"></include>
        </where>

    </select>

    <delete id="deleteById" parameterType="Long">
    DELETE FROM gspt_dqc_template  WHERE  `id`=#{id}
</delete>

    <sql id="where">
        <if test="null!=id and ''!=id">
            AND t.`id` = #{id}
        </if>
        <if test="null!=templateType and ''!=templateType">
            AND t.`template_type` = #{templateType}
        </if>
        <if test="null!=templateTypeName and ''!=templateTypeName">
            AND t.`template_type_name` = #{templateTypeName}
        </if>
        <if test="null!=templateName and ''!=templateName">
            AND t.`template_name` = #{templateName}
        </if>
        <if test="null!=fileName and ''!=fileName">
            AND t.`file_name` = #{fileName}
        </if>
        <if test="null!=fileUrl and ''!=fileUrl">
            AND t.`file_url` = #{fileUrl}
        </if>
        <if test="null!=status and ''!=status">
            AND t.`status` = #{status}
        </if>
        <if test="null!=flag and ''!=flag">
            AND t.`flag` = #{flag}
        </if>
        <if test="null!=createTimeStart and ''!=createTimeStart">
            AND t.`create_time` &gt;= CONCAT(#{createTimeStart},' 00:00:00')
        </if>
        <if test="null!=createTimeEnd and ''!=createTimeEnd">
            AND t.`create_time` &lt;= CONCAT(#{createTimeEnd},' 23:59:59')
        </if>
        <if test="null!=createrId and ''!=createrId">
            AND t.`creater_id` = #{createrId}
        </if>
        <if test="null!=createrOrgId and ''!=createrOrgId">
            AND t.`creater_org_id` = #{createrOrgId}
        </if>
        <if test="null!=createrName and ''!=createrName">
            AND t.`creater_name` = #{createrName}
        </if>
        <if test="null!=updateTimeStart and ''!=updateTimeStart">
            AND t.`update_time` &gt;= CONCAT(#{updateTimeStart},' 00:00:00')
        </if>
        <if test="null!=updateTimeEnd and ''!=updateTimeEnd">
            AND t.`update_time` &lt;= CONCAT(#{updateTimeEnd},' 23:59:59')
        </if>
        <if test="null!=updaterId and ''!=updaterId">
            AND t.`updater_id` = #{updaterId}
        </if>
        <if test="null!=updaterName and ''!=updaterName">
            AND t.`updater_name` = #{updaterName}
        </if>
        <if test="null!=updaterOrgId and ''!=updaterOrgId">
            AND t.`updater_org_id` = #{updaterOrgId}
        </if>
    </sql>

</mapper>